body {
    margin: 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 660px;
    height: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.grid-box {
    border: 1px solid black;
}